{%- style -%}
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;

    --section-padding-left: {{ section.settings.padding_left }}px;
    --section-padding-right: {{ section.settings.padding_right }}px;
    --section-margin-top: {{ section.settings.margin_top }}px;
    --section-margin-bottom: {{ section.settings.margin_bottom }}px;

    --primary-background: {{ section.settings.primary_background }};
    --secondary-background: {{ section.settings.secondary_background }}
  }
{%- endstyle -%}

{{ 'section-category-grid.css' | asset_url | stylesheet_tag }}

  <div class="section--padding">
    <div class="page-width--{{ section.settings.page_width }}">
      <div class="container">

        {% if section.settings.title != blank or section.settings.subtitle != blank %}
          <div class="title-wrapper {{ section.settings.heading_alignment }}">
            <div class="">
              {% if section.settings.subtitle != blank %}
                <h3 class="h1 sub_title">{{ section.settings.subtitle }}</h3>
              {% endif %}
              {% if section.settings.title != blank %}
                <{{ section.settings.heading_tag }} class="title {{ section.settings.heading_size }}">{{ section.settings.title | escape }}</{{ section.settings.heading_tag }}>
              {% endif %}
            </div>
          </div>
        {% endif %}

        <div class="category-grid-row grid grid--2-col{% if section.settings.category_column_mobile == '1' %} grid--1-col-mobile{% endif %} grid--rigid grid--{{ section.settings.category_column_desktop }}-col-desktop">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'category' -%}
                <a {% if block.settings.link != blank %} href="{{ block.settings.link }}"{% else %} role="link" aria-disabled="true"{% endif %} class="grid__item" style="--box-background: {{ block.settings.background_color }};" {{ block.shopify_attributes }}>
                  {% if block.settings.icon != blank %}
                    {{ block.settings.icon | image_url: width: 100 | image_tag: widths: '100, 200' }}
                  {% endif %}
                  {% if block.settings.text != blank %}
                    <span>{{ block.settings.text }}</span>
                  {% endif %}
                </a>
            {%- endcase -%}
          {%- endfor -%}
        </div>

      </div>
    </div>
  </div>

{% schema %}
{
  "name": "Category Grid",
  "tag": "section",
  "class": "section category-grid",
  "settings": [
    {
      "type": "select",
      "id": "page_width",
      "options": [
        {
          "value": "narrow",
          "label": "Narrow"
        },
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Wide"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "full-width",
          "label": "Full-Width"
        }
      ],
      "default": "standard",
      "label": "Section width"
    },
    {
      "type": "inline_richtext",
      "label": "Subtitle",
      "id": "subtitle",
      "default": "<em>Unsere Kategrorien</em>"
    },
    {
      "type": "text",
      "label": "Title",
      "id": "title",
      "default": "So kannst Du Beyond Matter verwenden:"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "t:sections.all.heading_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.heading_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.heading_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.heading_alignment.options__3.label"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.heading_tag.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_tag.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_tag.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_tag.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_tag.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading_tag.options__6.label"
        },
        {
          "value": "div",
          "label": "t:sections.all.heading_tag.options__7.label"
        },
        {
          "value": "span",
          "label": "t:sections.all.heading_tag.options__8.label"
        },
        {
          "value": "p",
          "label": "t:sections.all.heading_tag.options__9.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_tag.label",
      "info": "t:sections.all.heading_tag.info"
    },
    {
      "type": "header",
      "content": "Section color"
    },
    {
      "type": "color",
      "label": "Primary Background",
      "id": "primary_background",
      "default": "#baab9e"
    },
    {
      "type": "color",
      "label": "Secondary Background",
      "id": "secondary_background",
      "default": "#d4cfcc"
    },
    {
      "type": "header",
      "content": "Grid Layout"
    },
    {
      "type": "range",
      "label": "Category Column Desktop",
      "id": "category_column_desktop",
      "default": 3,
      "min": 2,
      "max": 5,
      "step": 1,
      "unit": "Col"
    },
    {
      "type": "select",
      "label": "Category Column Mobile",
      "id": "category_column_mobile",
      "default": "1",
      "options": [
        {
          "label": "1",
          "value": "1"
        },
        {
          "label": "2",
          "value": "2"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.header.content"
    },
    {
      "type": "range",
      "id": "padding_top",      
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "t:sections.all.padding.padding_top.unit",
      "label": "t:sections.all.padding.padding_top.label",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "t:sections.all.padding.padding_bottom.unit",
      "label": "t:sections.all.padding.padding_bottom.label",
      "default": 36
    },
    {
      "type": "range",
      "label": "Padding left",
      "id": "padding_left",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "label": "Padding right",
      "id": "padding_right",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "label": "Margin top",
      "id": "margin_top",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "label": "Margin bottom",
      "id": "margin_bottom",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "type": "category",
      "name": "Category",
      "settings": [
        {
          "type": "image_picker",
          "label": "Icon",
          "id": "icon"
        },
        {
          "type": "text",
          "label": "Text",
          "id": "text",
          "default": "Category"
        },
        {
          "type": "url",
          "label": "Link",
          "id": "link"
        },
        {
          "type": "color",
          "label": "Background Color",
          "id": "background_color",
          "default": "#ffffff"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Category Grid",
      "blocks": [
        {
          "type": "category"
        },
        {
          "type": "category"
        },
        {
          "type": "category"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  }
}
{% endschema %}
