{%- style -%}
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;

    --section-padding-left: {{ section.settings.padding_left }}px;
    --section-padding-right: {{ section.settings.padding_right }}px;
    --section-margin-top: {{ section.settings.margin_top }}px;
    --section-margin-bottom: {{ section.settings.margin_bottom }}px;

    --primary-background: {{ section.settings.primary_background }};
    --secondary-background: {{ section.settings.secondary_background }};
    --box-background: {{ section.settings.box_background }};
    {% if section.settings.text_color != blank %}
      --color-heading: {{ section.settings.text_color.red }}, {{ section.settings.text_color.green }}, {{ section.settings.text_color.blue }};
      --color-foreground: {{ section.settings.text_color.red }}, {{ section.settings.text_color.green }}, {{ section.settings.text_color.blue }};
    {% endif %}
      --color-border: {{ section.settings.border_color.red }}, {{ section.settings.border_color.green }}, {{ section.settings.border_color.blue }};
  }
  @media only screen and (max-width:749px){
    #shopify-section-{{ section.id }} .section--padding {
      --section-padding-top: {{ section.settings.mobile_padding_top }}px;
      --section-padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
      padding-top:var(--section-padding-top);
      padding-bottom:var(--section-padding-bottom);
    }
  }
{%- endstyle -%}

{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- assign custom_fields = section.blocks | where: "type", "custom_field" -%}
<div class="section--padding{% if section.settings.show_divider %} section--divider{% endif %}">
  <div class="contact page-width--{{ section.settings.page_width }} page-width--inner">

    <div class="{% if section.settings.show_inside_box == true %}contact_big_box{% endif %}">

        <div class="title-wrapper{% if section.settings.heading == blank %} title-wrapper--no-heading{% endif %}">
          {%- liquid
            assign fetchpriority = "auto"
            if section.index == 1
              assign fetchpriority = "high"
            endif
          -%}
          {% if section.settings.icon != blank %}
            {{
              section.settings.icon
              | image_url: width: 48
              | image_tag: fetchpriority: fetchpriority
            }}
          {% endif %}
          <{{ section.settings.heading_tag }} class="title {{ section.settings.heading_size }}">{{ section.settings.heading | escape }}</{{ section.settings.heading_tag }}>
          {% if section.settings.text != blank %}
            <div class="head_text">{{ section.settings.text }}</div>
          {% endif %}
        </div>
        
        <form-state>
          {%- assign form_id = 'ContactForm-' | append: section.id -%}
          {%- assign return_url = section.settings.return_url | default: 'back' | append: '' -%}
          {%- form 'contact', id: form_id, return_to: return_url -%}
            {%- if form.posted_successfully? -%}
              <div class="form-status form-status-list form__message" tabindex="-1" autofocus>
                {% render 'icon', icon: 'success' %}
                {{ 'templates.contact.form.post_success' | t }}
              </div>
            {%- endif -%}

            {%- if custom_fields.size > 0 -%}
              <div class="contact__fields">
                {%- for block in section.blocks -%}
                  {%- case block.type -%}
                    {%- when 'email_field' -%}
                      <div class="field field--with-error col-{{ block.settings.width }}" {{ block.shopify_attributes }}>
                        {% if block.settings.label != blank %}
                          <label class="form__label" for="{{ form_id }}-email">{{ block.settings.label }} {% if block.settings.required %}<span aria-hidden="true">*</span>{% endif %}</label>
                        {% endif %}
                        <input
                          id="{{ form_id }}-email"
                          autocomplete="email"
                          type="email"
                          id="ContactForm-email-{{ section.id }}"
                          class="field__input required{% if form.errors contains 'email' %} invalid{% endif %}"
                          name="contact[email]"
                          spellcheck="false"
                          autocapitalize="off"
                          value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                          aria-required="true"
                          {% if form.errors contains 'email' %}
                            aria-invalid="true"
                            aria-describedby="ContactForm-email-error-{{ section.id }}"
                          {% endif %}
                          {% if block.settings.placeholder != blank %} placeholder="{{ block.settings.placeholder }}"{% endif %}
                          {% if block.settings.required %}required="required"{% endif %}
                        />
                        {%- if form.errors contains 'email' -%}
                          <small id="ContactForm-email-error-{{ section.id }}">
                            <span class="form__message errors">
                              {% render 'icon', icon: 'error' %}
                              {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
                            </span>
                          </small>
                        {%- endif -%}
                      </div>

                    {%- when 'phone_field' -%}
                      <div class="field col-{{ block.settings.width }}" {{ block.shopify_attributes }}>
                        {% if block.settings.label != blank %}
                          <label class="form__label" for="{{ form_id }}-phone">{{ block.settings.label }} {% if block.settings.required %}<span aria-hidden="true">*</span>{% endif %}</label>
                        {% endif %}
                        <input id="{{ form_id }}-phone" type="tel" class="field__input" autocomplete="tel" name="contact[{{ 'templates.contact.form.phone' | t }}]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" {% if block.settings.placeholder != blank %} placeholder="{{ block.settings.placeholder }}"{% endif %} {% if block.settings.placeholder != blank %} placeholder="{{ block.settings.placeholder }}"{% endif %} {% if block.settings.required %}required="required"{% endif %}/>
                      </div>

                    {%- when 'custom_field' -%}
                      <div class="field contact-form__input col-{{ block.settings.width }}" {{ block.shopify_attributes }}>
                        {%- if block.settings.type == 'checkbox' -%}
                          <label for="line-item-{{ section.id }}-{{ block.id }}" class="form__facet-checkbox">
                            <input type="hidden" name="contact[{{ block.settings.label | escape }}]" value="{{ block.settings.unchecked_value | escape }}" />
                            <input id="line-item-{{ section.id }}-{{ block.id }}" type="checkbox" name="contact[{{ block.settings.label | escape }}]" value="{{ block.settings.checked_value | escape }}"{% if block.settings.required %} required{% endif %} />
                            {% render 'icon', icon: 'checkmark' %}
                            {{ block.settings.label | escape }}
                          </label>
                        {%- else -%}
                          <label class="form__label" for="line-item-{{ section.id }}-{{ block.id }}">{{ block.settings.label | escape }} {% if block.settings.required %}<span aria-hidden="true">*</span>{% endif %}</label>
                          {%- case block.settings.type -%}
                            {%- when 'text' -%}
                              <input class="field__input" id="line-item-{{ section.id }}-{{ block.id }}" type="text" name="contact[{{ block.settings.label | escape }}]"{% if block.settings.required %} required{% endif %} {% if block.settings.placeholder != blank %} placeholder="{{ block.settings.placeholder }}"{% endif %} />
                            {%- when 'textarea' -%}
                              <textarea class="text-area field__input" id="line-item-{{ section.id }}-{{ block.id }}" name="contact[{{ block.settings.label | escape }}]"{% if block.settings.required %} required{% endif %} {% if block.settings.placeholder != blank %} placeholder="{{ block.settings.placeholder }}"{% endif %}></textarea>
                            {%- when 'radio' -%}
                              {%- assign options = block.settings.radio_options | split: ',' -%}
                              {%- if options.size > 1 -%}
                                <fieldset class="contact-form__input">
                                  {%- for option in options -%}
                                    <label class="form__facet-radio" for="line-item-{{ section.id }}-{{ block.id }}-{{ forloop.index0 }}">
                                      <input id="line-item-{{ section.id }}-{{ block.id }}-{{ forloop.index0 }}" type="radio" name="contact[{{ block.settings.label | escape }}]" value="{{ option | strip | escape }}"{% if block.settings.required %} required{% endif %} />
                                      <span class="icon"></span>
                                      {{ option | strip | escape }}
                                    </label>
                                  {%- endfor -%}
                                </fieldset>
                              {%- endif -%}
                            {%- when 'select' -%}
                              {%- assign options = block.settings.select_options | split: ',' -%}
                              {%- if options.size > 1 -%}
                                <select-wrapper class="select">
                                  <select class="select__select" id="line-item-{{ section.id }}-{{ block.id }}" name="contact[{{ block.settings.label | escape }}]"{% if block.settings.required %} required{% endif %}>
                                    <option value="" disabled selected hidden>{{ block.settings.label | escape }}</option>
                                    <optgroup label="{{ block.settings.label | escape }}">
                                      {%- for option in options -%}
                                        <option value="{{ option | strip | escape }}">
                                          {{ option | strip | escape }}
                                        </option>
                                      {%- endfor -%}
                                    </optgroup>
                                  </select>
                                  {% render 'icon', icon: 'caret' %}
                                </select-wrapper>
                              {%- endif -%}
                          {%- endcase-%}
                        {%- endif -%}
                      </div>

                    {%- when 'blank' -%}
                      <div class="field blank_part col-half" {{ block.shopify_attributes }}>
                      </div>

                  {%- endcase -%}
                {%- endfor -%}
              </div>
            {%- endif -%}


            {% comment %}
              <div class="field">
                <label class="form__label" for="{{ form_id }}-body">{{ 'templates.contact.form.comment' | t }}</label>
                <textarea
                  id="{{ form_id }}-body"
                  rows="10"
                  class="text-area field__input"
                  name="contact[{{ 'templates.contact.form.comment' | t }}]"
                  placeholder="{{ 'templates.contact.form.comment' | t }}"
                >
                  {{- form.body -}}
                </textarea>
              </div>
            {% endcomment %}

            <div class="contact__button">
              <button type="submit" class="button">
                {% if section.settings.button_text != blank %}
                  {{ section.settings.button_text }}
                {% else %}
                  {{ 'templates.contact.form.send' | t }}
                {% endif %}
              </button>
            </div>

            {% comment %}
              Remove the following three lines of code to remove the note
              about being protected by Google's reCAPTCHA service.
              By removing it, the small reCAPTCHA widget will appear in the
              bottom right corner of the page.
              <div class="rte">
                {{ 'shopify.online_store.spam_detection.disclaimer_html' | t }}
              </div>
            {% endcomment %}
          {%- endform -%}
        </form-state>


    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section contact-form-section",
  "settings": [
    {
      "type": "select",
      "id": "page_width",
      "options": [
        {
          "value": "narrow",
          "label": "Schmal"
        },
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Breit"
        },
        {
          "value": "large",
          "label": "Groß"
        },
        {
          "value": "full-width",
          "label": "Vollbreite"
        }
      ],
      "default": "standard",
      "label": "Abschnittsbreite"
    },
    {
      "type": "url",
      "id": "return_url",
      "label": "t:sections.all.form.return_url.label",
      "info": "t:sections.all.form.return_url.info"
    },
    {
      "type": "checkbox",
      "id": "show_divider",
      "default": false,
      "label": "t:sections.all.show_divider.label"
    },
    {
      "type": "image_picker",
      "label": "Icon",
      "id": "icon"
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.label"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Get in touch",
      "label": "t:sections.all.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.heading_tag.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_tag.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_tag.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_tag.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_tag.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading_tag.options__6.label"
        },
        {
          "value": "div",
          "label": "t:sections.all.heading_tag.options__7.label"
        },
        {
          "value": "span",
          "label": "t:sections.all.heading_tag.options__8.label"
        },
        {
          "value": "p",
          "label": "t:sections.all.heading_tag.options__9.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_tag.label",
      "info": "t:sections.all.heading_tag.info"
    },
    {
      "type": "richtext",
      "label": "Text",
      "id": "text",
      "default": "<p>Die meisten Themen rund um Elektrosmog sind komplexer Natur.  Nicht so einfach zu erklären.&nbsp;Wir haben es trotzdem versucht.&nbsp;Jedes Thema wird im praktischen&nbsp;Frage-Antwort-Format&nbsp;präsentiert. So kannst du jeden Argumentationsschritt einfach nachvollziehen.</p>"
    },
    {
      "type": "checkbox",
      "label": "Innerhalb des Rahmens anzeigen?",
      "id": "show_inside_box",
      "default": false
    },
    {
      "type": "text",
      "id": "button_text",
      "default": "Nachricht verschicken",
      "label": "Schaltflächentext"
    },
    {
      "type": "header",
      "content": "Abschnittsfarbe"
    },
    {
      "type": "color",
      "label": "Primäre Hintergrundfarbe",
      "id": "primary_background",
      "default": "#baab9e"
    },
    {
      "type": "color",
      "label": "Sekundäre Hintergrundfarbe",
      "id": "secondary_background",
      "default": "#d4cfcc"
    },
    {
      "type": "color",
      "label": "Rahmenhintergrund",
      "id": "box_background",
      "default": "#ffffff",
      "info": "Die Hintergrundfarbe des Rahmens wird nur angewendet, wenn die Einstellung 'Innerhalb des Rahmens anzeigen?' aktiviert ist"
    },
    {
      "type": "color",
      "label": "Textfarbe",
      "id": "text_color"
    },
    {
      "type": "color",
      "label": "Farbe des Eingabefeldrandes",
      "id": "border_color",
      "default": "#3C3C3C"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.header.content"
    },
    {
      "type": "range",
      "id": "padding_top",      
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "t:sections.all.padding.padding_top.unit",
      "label": "t:sections.all.padding.padding_top.label",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "t:sections.all.padding.padding_bottom.unit",
      "label": "t:sections.all.padding.padding_bottom.label",
      "default": 36
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "t:sections.all.padding.padding_top.unit",
      "label": "Abstand oben (mobil)",
      "default": 36
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "t:sections.all.padding.padding_bottom.unit",
      "label": "Abstand unten (mobil)",
      "default": 36
    },
    {
      "type": "range",
      "label": "Abstand links",
      "id": "padding_left",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "label": "Abstand rechts",
      "id": "padding_right",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "label": "Rand oben",
      "id": "margin_top",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "label": "Rand unten",
      "id": "margin_bottom",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "type": "custom_field",
      "name": "t:sections.contact-form.blocks.custom_field.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.contact-form.blocks.custom_field.settings.paragraph.content"
        },
        {
          "type": "select",
          "label": "Breite",
          "id": "width",
          "default": "full",
          "options": [
            {
              "label": "Zwei Zeilen",
              "value": "half"
            },
            {
              "label": "Eine Zeile",
              "value": "full"
            }
          ]
        },
        {
          "type": "select",
          "id": "type",
          "options": [
            {
              "value": "text",
              "label": "t:sections.contact-form.blocks.custom_field.settings.type.options__1.label"
            },
            {
              "value": "textarea",
              "label": "t:sections.contact-form.blocks.custom_field.settings.type.options__2.label"
            },
            {
              "value": "checkbox",
              "label": "t:sections.contact-form.blocks.custom_field.settings.type.options__3.label"
            },
            {
              "value": "radio",
              "label": "t:sections.contact-form.blocks.custom_field.settings.type.options__4.label"
            },
            {
              "value": "select",
              "label": "t:sections.contact-form.blocks.custom_field.settings.type.options__5.label"
            }
          ],
          "default": "text",
          "label": "t:sections.contact-form.blocks.custom_field.settings.type.label"
        },
        {
          "type": "text",
          "id": "label",
          "label": "t:sections.contact-form.blocks.custom_field.settings.label.label",
          "default": "Ihr Label"
        },
        {
          "type": "text",
          "id": "placeholder",
          "label": "Platzhalter",
          "default": "Ihr Label"
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "t:sections.contact-form.blocks.custom_field.settings.required.label",
          "info": "t:sections.contact-form.blocks.custom_field.settings.required.info",
          "default": false
        },
        {
          "type": "header",
          "content": "t:sections.contact-form.blocks.custom_field.settings.header__1.content",
          "info": "t:sections.contact-form.blocks.custom_field.settings.header__1.info"
        },
        {
          "type": "text",
          "id": "checked_value",
          "label": "t:sections.contact-form.blocks.custom_field.settings.checked_value.label",
          "default": "Ja"
        },
        {
          "type": "text",
          "id": "unchecked_value",
          "label": "t:sections.contact-form.blocks.custom_field.settings.unchecked_value.label",
          "default": "Nein"
        },
        {
          "type": "header",
          "content": "t:sections.contact-form.blocks.custom_field.settings.header__2.content",
          "info": "t:sections.contact-form.blocks.custom_field.settings.header__2.info"
        },
        {
          "type": "text",
          "id": "radio_options",
          "label": "t:sections.contact-form.blocks.custom_field.settings.options.label",
          "info": "t:sections.contact-form.blocks.custom_field.settings.options.info"
        },
        {
          "type": "header",
          "content": "t:sections.contact-form.blocks.custom_field.settings.header__3.content",
          "info": "t:sections.contact-form.blocks.custom_field.settings.header__3.info"
        },
        {
          "type": "text",
          "id": "select_options",
          "label": "t:sections.contact-form.blocks.custom_field.settings.options.label",
          "info": "t:sections.contact-form.blocks.custom_field.settings.options.info"
        }
      ]
    },
    {
      "type": "email_field",
      "name": "Email",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "label": "Bezeichnung",
          "id": "label",
          "default": "Email"
        },
        {
          "type": "text",
          "label": "Platzhalter",
          "id": "placeholder",
          "default": "Email"
        },
        {
          "type": "checkbox",
          "label": "Erforderlich",
          "id": "required",
          "default": true
        },
        {
          "type": "select",
          "label": "Breite",
          "id": "width",
          "default": "full",
          "options": [
            {
              "label": "Zwei Zeilen",
              "value": "half"
            },
            {
              "label": "Eine Zeile",
              "value": "full"
            }
          ]
        }
      ]
    },
    {
      "type": "phone_field",
      "name": "Phone",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "label": "Bezeichnung",
          "id": "label",
          "default": "Telefon"
        },
        {
          "type": "text",
          "label": "Platzhalter",
          "id": "placeholder",
          "default": "Telefon"
        },
        {
          "type": "checkbox",
          "label": "Erforderlich",
          "id": "required",
          "default": true
        },
        {
          "type": "select",
          "label": "Breite",
          "id": "width",
          "default": "full",
          "options": [
            {
              "label": "Zwei Zeilen",
              "value": "half"
            },
            {
              "label": "Eine Zeile",
              "value": "full"
            }
          ]
        }
      ]
    },
    {
      "type": "blank",
      "name": "Blank",
      "settings": []
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name",
      "blocks": []
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  }
}
{% endschema %}
