{%- style -%}
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;

    --section-padding-left: {{ section.settings.padding_left }}px;
    --section-padding-right: {{ section.settings.padding_right }}px;
    --section-margin-top: {{ section.settings.margin_top }}px;
    --section-margin-bottom: {{ section.settings.margin_bottom }}px;

    --box-background: {{ section.settings.box_background }};

    --primary-background: {{ section.settings.primary_background.red }},{{ section.settings.primary_background.green }},{{ section.settings.primary_background.blue }};
    --secondary-background: {{ section.settings.secondary_background.red }},{{ section.settings.secondary_background.green }},{{ section.settings.secondary_background.blue }};

    --block-text-color: {{ section.settings.block_text_color.red }}, {{ section.settings.block_text_color.green }}, {{ section.settings.block_text_color.blue }};
    --accordion-icon-color: {{ section.settings.accordion_icon_color.red }}, {{ section.settings.accordion_icon_color.green }}, {{ section.settings.accordion_icon_color.blue }};
    --color-heading: {{ section.settings.title_color.red }}, {{ section.settings.title_color.green }}, {{ section.settings.title_color.blue }};
    --block-color-heading: {{ section.settings.block_bg_color.red }}, {{ section.settings.block_bg_color.green }}, {{ section.settings.block_bg_color.blue }};

  }

    #shopify-section-{{ section.id }} .accordion-question-main-cover,  #shopify-section-{{ section.id }} .title-wrapper {
      max-width:{{ section.settings.desktop_accordion_width }}rem;
    }

  @media only screen and (max-width:749px){
    #shopify-section-{{ section.id }} .section--padding {
      --section-padding-top: {{ section.settings.mobile_padding_top }}px;
      --section-padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
      padding-top:var(--section-padding-top);
      padding-bottom:var(--section-padding-bottom);
    }
  }
{%- endstyle -%}

{{ 'section-faq.css' | asset_url | stylesheet_tag }}

<div class="section--padding{% if section.settings.show_divider %} section--divider{% endif %}">
  <div class="page-width--{{ section.settings.page_width }}">
    <div class="{% if section.settings.show_inside_box == true %} faq_enable_big_box{% endif %}">
      <div class="faq">
        {% if section.settings.heading != blank or section.settings.subtitle != blank %}
          <div class="title-wrapper {{ section.settings.heading_alignment }}">
            <div class="title-wrapper-inner">
              {% if section.settings.subtitle != blank %}
                <h3 class="h1 sub_title" style="color: {{ section.settings.sub_text_color }};">
                  {{ section.settings.subtitle }}
                </h3>
              {% endif %}
              {% if section.settings.heading != blank %}
                <{{ section.settings.heading_tag }} class="title {{ section.settings.heading_size }}">
                  {{- section.settings.heading -}}
                </{{ section.settings.heading_tag }}>
              {% endif %}
              {% if section.settings.description != blank %}
                <div
                  class="main-description {{ section.settings.text_size }}"
                  style="color: {{ section.settings.description_color }};"
                >
                  {{ section.settings.description }}
                </div>
              {% endif %}
            </div>
          </div>
        {% endif %}

        <div class="accordion-main-row">
          {% if section.settings.title != blank %}
            <div class="accordion-title-cover">
              <div class="accordion-title">
                <p class="h3" style="color: {{ section.settings.category_color }};">{{ section.settings.title | escape }}</p>
              </div>
            </div>
          {% endif %}
          <div class="accordion-question-cover {% if section.settings.accordion_layout == "border" %}accordion-border-layout{% endif %}" id="accordion--{{ section.id }}">
            <div class="accordion-question-main-cover accordion--{{ section.settings.layout }}">
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when 'question' -%}
                  {%- if block.settings.text != blank -%}
                    <accordion-tab {% if section.settings.accordion_alignment == 'right' %}class="{% if section.settings.accordion_alignment == 'right' %}accordion-icon-style{% endif %}"{% endif %} {{ block.shopify_attributes }}>
                      <details>
                          <summary>
                            <span>
                                {% if section.settings.accordion_alignment == "left" %}
                                  {% if section.settings.accordion_icon == "arrow" %}
                                    <span class="icon icon-down-arrow-cvr">
                                      {% render "icon-down-arrow" %}
                                    </span>
                                  {% else %}
                                      <span class="icon icon-plus-alt"></span>
                                  {% endif %}
                                {% endif %}
                              {{ block.settings.title | escape }}
                              {% if section.settings.accordion_alignment == "right" %}
                                {% if section.settings.accordion_icon == "arrow" %}
                                  <span class="icon icon-down-arrow-cvr">
                                    {% render "icon-down-arrow" %}
                                  </span>
                                {% else %}
                                    <span class="icon icon-plus-alt"></span>
                                {% endif %}
                              {% endif %}
                            </span>
                          </summary>
                        <div class="accordion__content rte typeset">
                          <div class="accordion__content_inr_cvr">
                            {% if block.settings.author_name != blank %}
                              <div class="accordion-author-name">
                                <h4>{{ block.settings.author_name }}</h4>
                              </div>
                            {% endif %}
                            {% if block.settings.author_position != blank %}
                              <div class="author-position-name">
                                <h5>{{ block.settings.author_position }}</h5>
                              </div>
                            {% endif %}
                            {% if block.settings.author_description != blank %}
                              <div class="author-description-name">
                                {{ block.settings.author_description }}
                              </div>
                            {% endif %}
                          </div>
                          {% if block.settings.text != blank %}
                            <div class="accordion-main-description">
                              {{ block.settings.text }}
                            </div>
                          {% endif %}
                        </div>
                      </details>
                    </accordion-tab>
                  {%- endif -%}
              {%- endcase -%}
            {%- endfor -%}
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.faq.name",
  "tag": "section",
  "class": "section faq-section",
  "settings": [
    {
      "type": "select",
      "id": "page_width",
      "options": [
        {
          "value": "narrow",
          "label": "Schmal"
        },
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Breit"
        },
        {
          "value": "large",
          "label": "Groß"
        },
        {
          "value": "full-width",
          "label": "Volle Breite"
        }
      ],
      "default": "standard",
      "label": "Abschnittsbreite"
    },
    {
      "type": "select",
      "id": "accordion_layout",
      "options": [
        {
          "value": "border",
          "label": "Rahmen"
        },
        {
          "value": "block",
          "label": "Block"
        }
      ],
      "default": "block",
      "label": "Akkordeon-Layout"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "left",
          "label": "Links"
        },
        {
          "value": "middle",
          "label": "Mitte"
        },
        {
          "value": "right",
          "label": "Rechts"
        }
      ],
      "default": "left",
      "label": "Akkordeon-Ausrichtung"
    },
    {
      "type": "select",
      "id": "accordion_icon",
      "options": [
        {
          "value": "plus_minus",
          "label": "Plus Minus"
        },
        {
          "value": "arrow",
          "label": "Pfeil"
        }
      ],
      "default": "plus_minus",
      "label": "Akkordeon-Symbolstil"
    },
    {
      "type": "select",
      "id": "accordion_alignment",
      "options": [
        {
          "value": "left",
          "label": "Links"
        },
        {
          "value": "right",
          "label": "Rechts"
        }
      ],
      "default": "left",
      "label": "Akkordeon-Symbolausrichtung"
    },
    {
      "type": "range",
      "label": "Akkordeon-Breite",
      "id": "desktop_accordion_width",
      "default": 80,
      "min": 50,
      "max": 150,
      "step": 1,
      "unit": "rem"
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.label"
    },
    {
      "type": "inline_richtext",
      "label": "Untertitel",
      "id": "subtitle",
      "default": "<em>Unsere Kategorien</em>"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "FAQs",
      "label": "t:sections.all.heading.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "default": "<p>Beschreibung</p>",
      "label": "Beschreibung"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "text_size",
      "options": [
        {
          "value": "typeset",
          "label": "t:sections.all.text_size.options__1.label"
        },
        {
          "value": "typeset2",
          "label": "t:sections.all.text_size.options__2.label"
        },
        {
          "value": "typeset3",
          "label": "t:sections.all.text_size.options__3.label"
        }
      ],
      "default": "typeset",
      "label": "t:sections.all.text_size.label"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "t:sections.all.heading_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.heading_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.heading_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.heading_alignment.options__3.label"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.heading_tag.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_tag.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_tag.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_tag.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_tag.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading_tag.options__6.label"
        },
        {
          "value": "div",
          "label": "t:sections.all.heading_tag.options__7.label"
        },
        {
          "value": "span",
          "label": "t:sections.all.heading_tag.options__8.label"
        },
        {
          "value": "p",
          "label": "t:sections.all.heading_tag.options__9.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_tag.label",
      "info": "t:sections.all.heading_tag.info"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Kategorie"
    },
    {
      "type": "header",
      "content": "Abschnittsfarbe"
    },
    {
      "type": "color",
      "label": "Primärer Hintergrund",
      "id": "primary_background",
      "default": "#baab9e"
    },
    {
      "type": "color",
      "label": "Sekundärer Hintergrund",
      "id": "secondary_background",
      "default": "#d4cfcc"
    },
    {
      "type": "color",
      "label": "Box-Hintergrund",
      "id": "box_background",
      "default": "#ffffff",
      "info": "Die Hintergrundfarbe der Box wird nur angewendet, wenn die Einstellung 'Layout in Box anzeigen?' aktiviert ist"
    },
    {
      "type": "checkbox",
      "label": "Layout in Box anzeigen?",
      "id": "show_inside_box",
      "default": false
    },
    {
      "type": "color",
      "label": "Titelfarbe",
      "id": "title_color",
      "default": "#212326"
    },
    {
      "type": "color",
      "label": "Untertitelfarbe",
      "id": "sub_text_color",
      "default": "#212326"
    },
    {
      "type": "color",
      "label": "Beschreibungsfarbe",
      "id": "description_color",
      "default": "#212326"
    },
    {
      "type": "color",
      "label": "Kategoriefarbe",
      "id": "category_color",
      "default": "#212326"
    },
    {
      "type": "color",
      "label": "Rand-/Block-Hintergrundfarbe",
      "id": "block_bg_color",
      "default": "#F4F2F2"
    },
    {
      "type": "color",
      "label": "Block-Textfarbe",
      "id": "block_text_color",
      "default": "#212326"
    },
    {
      "type": "color",
      "label": "Akkordeon-Symbolfarbe",
      "id": "accordion_icon_color",
      "default": "#212326"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.header.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "t:sections.all.padding.padding_top.unit",
      "label": "Polsterung oben (Desktop)",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "t:sections.all.padding.padding_bottom.unit",
      "label": "Polsterung unten (Desktop)",
      "default": 36
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "t:sections.all.padding.padding_top.unit",
      "label": "Polsterung oben (Mobile)",
      "default": 36
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "t:sections.all.padding.padding_bottom.unit",
      "label": "Polsterung unten (Mobile)",
      "default": 36
    },
    {
      "type": "range",
      "label": "Polsterung links",
      "id": "padding_left",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "label": "Polsterung rechts",
      "id": "padding_right",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "label": "Abstand oben",
      "id": "margin_top",
      "default": 0,
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "label": "Abstand unten",
      "id": "margin_bottom",
      "default": 0,
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "type": "question",
      "name": "t:sections.faq.blocks.question.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Häufig gestellte Frage",
          "label": "t:sections.faq.blocks.question.settings.title.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.faq.blocks.question.settings.text.label",
          "default": "<p>Verwenden Sie diesen Text, um Fragen so detailliert wie möglich für Ihre Kunden zu beantworten.</p>"
        },
        {
          "type": "text",
          "id": "author_name",
          "label": "Autorname"
        },
        {
          "type": "text",
          "id": "author_position",
          "label": "Autorenposition"
        },
        {
          "type": "richtext",
          "id": "author_description",
          "label": "Autorenbeschreibung",
          "default": "<p>Verwenden Sie diesen Text, um Fragen so detailliert wie möglich für Ihre Kunden zu beantworten.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.faq.presets.name",
      "blocks": [
        {
          "type": "question"
        },
        {
          "type": "question"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  }
}
{% endschema %}
