{%- style -%}
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    --image-position: {{ section.settings.image_position }};

    --section-padding-left: {{ section.settings.padding_left }}px;
    --section-padding-right: {{ section.settings.padding_right }}px;
    --section-margin-top: {{ section.settings.margin_top }}px;
    --section-margin-bottom: {{ section.settings.margin_bottom }}px;


    --primary-background: {{ section.settings.primary_background }};
    --secondary-background: {{ section.settings.secondary_background }};
    --box-background: {{ section.settings.box_background }};
    --article-background: {{ section.settings.article_background }};
    --primary-button-background: {{ section.settings.colors_button_background }};
    --primary-button-text: {{ section.settings.colors_button_label }};
    --color-button-border: var(--primary-button-background);
    --color-foreground: {{ section.settings.colors_text.red }}, {{ section.settings.colors_text.green }}, {{ section.settings.colors_text.blue }};
    --color-heading: var(--color-foreground);
    --colors-link-background: {{ section.settings.colors_link_background }};
    --colors-link-label: {{ section.settings.colors_link_label }};
    --color-button-border: var(--colors-link-background);

  }

  @media only screen and (max-width:749px){
    #shopify-section-{{ section.id }} .section--padding {
      --section-padding-top: {{ section.settings.mobile_padding_top }}px;
      --section-padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
      padding-top:var(--section-padding-top);
      padding-bottom:var(--section-padding-bottom);
    }
  }

  
{%- endstyle -%}

{{ 'section-featured-post.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>

<div class="section--padding">
  <div class="page-width--{{ section.settings.page_width }}">
    {% if section.settings.show_inside_box == true %}<div class="posts_enable_big_box">{% endif %}
    {% if section.settings.title != blank or section.settings.button_label != blank%}
      <div class="title-wrapper {{ section.settings.heading_alignment }}">
        <div class="">
          {% if section.settings.title != blank %}
            <{{ section.settings.heading_tag }} class="title {{ section.settings.heading_size }}">
              {{- section.settings.title | escape -}}
            </{{ section.settings.heading_tag }}>
          {% endif %}
        </div>
        {%- if section.settings.button_label != blank -%}
        <div class="header-button">
          <a
            class="button button--{{ section.settings.button_style }}"
            {% if section.settings.button_link != blank %}
              href="{{ section.settings.button_link }}"
            {% else %}
              role="link" aria-disabled="true"
            {% endif %}
          >
            <span class="label">{{ section.settings.button_label | escape }}</span>
            {% if section.settings.enbale_icon == true %}{% render 'icon', icon: 'arrow' %}{% endif %}
          </a>
        </div>
      {% endif %}
      </div>
    {% endif %}

    <div
      class="grid grid--2-col{% if section.settings.columns_mobile == '1' %} grid--1-col-mobile{% endif %} grid--rigid grid--{{ section.settings.columns_desktop }}-col-desktop"
    >
      {%- for article in blogs.ratgeber.articles -%}
        <div class="blog-articles__article article grid__item {% if section.settings.show_title == false %}article-title_hide{% endif %} {% if section.settings.show_description == false %}article-title_description{% endif %}">
          {%- render 'card-article',
            article: article,
            show_image: section.settings.show_image,
            image_ratio: section.settings.image_ratio
          -%}
        </div>
      {%- endfor -%}
    </div>
    {% if section.settings.show_inside_box == true %}</div>{% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Featured post",
  "tag": "section",
  "class": "section section-featured-post",
  "settings": [
    {
      "type": "select",
      "id": "page_width",
      "options": [
        {
          "value": "narrow",
          "label": "Narrow"
        },
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Wide"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "full-width",
          "label": "Full-Width"
        }
      ],
      "default": "standard",
      "label": "Section width"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.all.text_alignment.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "t:sections.multicolumn.settings.columns_desktop.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.mobile_layout.header.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.all.mobile_layout.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.all.mobile_layout.columns_mobile.options__2.label"
        }
      ],
      "default": "1",
      "label": "t:sections.all.mobile_layout.columns_mobile.label"
    },
    {
      "type": "header",
      "content": "Select Blog"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.all.card_image_ratio.options__1.label"
        },
        {
          "value": "square",
          "label": "t:sections.all.card_image_ratio.options__2.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.card_image_ratio.options__3.label"
        },
        {
          "value": "landscape",
          "label": "t:sections.all.card_image_ratio.options__4.label"
        },
        {
          "value": "wide",
          "label": "t:sections.all.card_image_ratio.options__5.label"
        }
      ],
      "default": "landscape",
      "label": "t:sections.all.card_image_ratio.label",
      "info": "t:sections.main-blog.settings.image_ratio.info"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.main-blog.settings.show_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "default": true,
      "label": "Show title"
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "default": true,
      "label": "Show description"
    },
    {
      "type": "header",
      "content": "Heading header"
    },
    {
      "type": "text",
      "label": "Title",
      "id": "title",
      "default": "So kannst Du Beyond Matter verwenden:"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "t:sections.all.heading_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.heading_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.heading_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.heading_alignment.options__3.label"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.heading_tag.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_tag.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_tag.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_tag.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_tag.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading_tag.options__6.label"
        },
        {
          "value": "div",
          "label": "t:sections.all.heading_tag.options__7.label"
        },
        {
          "value": "span",
          "label": "t:sections.all.heading_tag.options__8.label"
        },
        {
          "value": "p",
          "label": "t:sections.all.heading_tag.options__9.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_tag.label",
      "info": "t:sections.all.heading_tag.info"
    },
    {
      "type": "checkbox",
      "id": "enbale_icon",
      "label": "Icon aktivieren",
      "default": true
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Button-Label",
      "label": "t:sections.all.button_label.label",
      "info": "t:sections.all.button_label.info"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.all.button_link.label"
    },
    {
      "type": "select",
      "id": "button_style",
      "options": [
        {
          "value": "primary",
          "label": "Prim채r"
        },
        {
          "value": "secondary",
          "label": "Sekund채r"
        }
      ],
      "default": "primary",
      "label": "Header button style"
    },
    {
      "type": "header",
      "content": "Section color"
    },
    {
      "type": "color",
      "label": "Primary Background",
      "id": "primary_background",
      "default": "#EDE9E9"
    },
    {
      "type": "color",
      "label": "Secondary Background",
      "id": "secondary_background",
      "default": "#EDE9E9"
    },
    {
      "type": "color",
      "label": "Article Background",
      "id": "article_background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "colors_text",
      "label": "Heading color",
      "default": "#212326"
    },
    {
      "type": "color",
      "id": "colors_button_label",
      "label": "t:sections.all.colors.colors_button_label.label",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "colors_button_background",
      "label": "t:sections.all.colors.colors_button_background.label",
      "default": "#1a1b18"
    },
    {
      "type": "color",
      "id": "colors_link_label",
      "label": "t:sections.all.colors.colors_button_label.label",
      "default": "#3C3C3C"
    },
    {
      "type": "color",
      "id": "colors_link_background",
      "label": "colors link background",
      "default": "#1a1b18"
    },
    {
      "type": "color",
      "label": "Box background",
      "id": "box_background",
      "default": "#ffffff",
      "info": "Box background color apply only when 'Show inside layout?' setting is true"
    },
    {
      "type": "checkbox",
      "label": "Show inside layout box?",
      "id": "show_inside_box",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.header.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "t:sections.all.padding.padding_top.unit",
      "label": "Desktop oberes Padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "t:sections.all.padding.padding_bottom.unit",
      "label": "Desktop unteres Padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "t:sections.all.padding.padding_top.unit",
      "label": "Mobiles oberes Padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "t:sections.all.padding.padding_bottom.unit",
      "label": "Mobiles unteres Padding",
      "default": 36
    },

    {
      "type": "range",
      "label": "Padding links",
      "id": "padding_left",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "label": "Padding rechts",
      "id": "padding_right",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "label": "Abstand oben",
      "id": "margin_top",
      "default": 0,
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "label": "Abstand unten",
      "id": "margin_bottom",
      "default": 0,
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "t:sections.main-blog.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_date",
          "default": true,
          "label": "t:sections.main-blog.blocks.title.settings.show_date.label"
        },
        {
          "type": "checkbox",
          "id": "show_author",
          "default": false,
          "label": "t:sections.main-blog.blocks.title.settings.show_author.label"
        },
        {
          "type": "checkbox",
          "id": "show_comment_count",
          "default": false,
          "label": "t:sections.main-blog.blocks.title.settings.show_comment_count.label"
        }
      ]
    },
    {
      "type": "summary",
      "name": "t:sections.main-blog.blocks.summary.name",
      "limit": 1
    },
    {
      "type": "read_more",
      "name": "t:sections.main-blog.blocks.read_more.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "link_style",
          "options": [
            {
              "value": "primary",
              "label": "Prim채r"
            },
            {
              "value": "cta",
              "label": "Sekund채r"
            }
          ],
          "default": "primary",
          "label": "Link style"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured post",
      "blocks": []
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  }
}
{% endschema %}
