{%- style -%}
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    
    --section-padding-left: {{ section.settings.padding_left }}px;
    --section-padding-right: {{ section.settings.padding_right }}px;
    --section-margin-top: {{ section.settings.margin_top }}px;
    --section-margin-bottom: {{ section.settings.margin_bottom }}px;

    --primary-background: {{ section.settings.primary_background }};
    --secondary-background: {{ section.settings.secondary_background }};
    
    {%- if section.settings.image != blank %}
      --image-ratio-percent: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
      --image-position: {{ section.settings.image_position }};
    {% elsif section.settings.video != null %}
      {% assign poster = section.settings.video.preview_image %}
      --image-ratio-percent: {{ 1 | divided_by: poster.aspect_ratio | times: 100 }}%;
    {% elsif section.settings.video_url != blank %}
      --image-ratio-percent: 100%;
    {% endif -%}
    {%- if section.settings.use_custom_colors %}
      --gradient-background: {% if section.settings.gradient_background != blank %}{{ section.settings.gradient_background }}{% else %}{{ section.settings.colors_background }}{% endif %};
      --color-background: {{ section.settings.colors_background.red }}, {{ section.settings.colors_background.green }}, {{ section.settings.colors_background.blue }};
      --color-foreground: {{ section.settings.colors_text.red }}, {{ section.settings.colors_text.green }}, {{ section.settings.colors_text.blue }};
      --color-link: var(--color-foreground);
      --color-border: var(--color-foreground);
      --color-heading: var(--color-foreground);
      --color-button-background: {{ section.settings.colors_button_background.red }}, {{ section.settings.colors_button_background.green }}, {{ section.settings.colors_button_background.blue }};
      --color-button-text: {{ section.settings.colors_button_label.red }}, {{ section.settings.colors_button_label.green }}, {{ section.settings.colors_button_label.blue }};
      --color-button-border: var(--color-button-background);
      --color-shadow: var(--color-foreground);
    {% endif -%}
    --shadow-opacity: 0.3;
  }
  {%- if section.settings.image_mobile != blank and section.settings.mobile_image_ratio == 'adapt' %}
    @media screen and (max-width: 749px) {
      #shopify-section-{{ section.id }} {
        --image-ratio-percent: {{ 1 | divided_by: section.settings.image_mobile.aspect_ratio | times: 100 }}%;
      }
    }  
    {% endif -%}

  {% if section.settings.mobile_box_spacing != blank %}
    .grid--{{ section.id }} {
      padding:{{ section.settings.mobile_box_spacing }}px;
    }
  {% endif %}

  @media only screen and (min-width:990px){
    {% if section.settings.desktop_box_spacing != blank %}
      .grid--{{ section.id }} {
        padding:{{ section.settings.desktop_box_spacing }}px;
      }
    {% endif %}
  } 


  @media only screen and (max-width:749px){
    #shopify-section-{{ section.id }} .section--padding {
      --section-padding-top: {{ section.settings.mobile_padding_top }}px;
      --section-padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
      padding-top:var(--section-padding-top);
      padding-bottom:var(--section-padding-bottom);
    }
  }
  .section--{{ section.id }} .image-with-text__grid {
    background: var(--gradient-background);
    background-color: rgb(var(--color-background));
    color: rgb(var(--color-foreground));
  }
{%- endstyle -%}

{{ 'section-image-with-text.css' | asset_url | stylesheet_tag }}
{{ 'section-newsletter2.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign grid_class = 'image-with-text__grid'
  if section.settings.layout == 'text_first'
    assign grid_class = grid_class | append: ' image-with-text__grid--reverse'
  endif

  if section.settings.mobile_layout == 'text_first'
    assign grid_class = grid_class | append: ' image-with-text__grid-mobile--reverse'
  endif

  if section.settings.mobile_layout == 'no_image'
    assign grid_class = grid_class | append: ' image-with-text__grid-mobile--no-image'
  endif

  if section.settings.mobile_layout == 'overlap'
    assign grid_class = grid_class | append: ' image-with-text__grid-mobile--overlap'
  endif
-%}

<div class="section--{{ section.id }} section--padding{% if section.settings.show_divider %} section--divider{% endif %}">
  <div class="image-with-text{% if section.settings.use_custom_colors and section.settings.colors_background != settings.colors_background %} image-with-text--colored{% else %} image-with-text--alt{% endif %} image-with-text--{{ section.settings.enlarge_content }} page-width--{{ section.settings.page_width }}">
    <div class="{{ grid_class }} grid--{{ section.id }} grid grid--gapless grid--1-col grid--2-col-tablet">
      {% if section.settings.enable_main_image == true %}
        <div class="grid__item">
          {% if section.settings.video == blank and section.settings.video_url == blank %}
          <use-animate data-animate="zoom-fade" class="media-wrapper">
            <div class="image-animate media--{{ section.settings.image_ratio }} media-mobile--{{ section.settings.mobile_image_ratio }} {% if section.settings.image != blank %}media{% else %}media--placeholder{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}">
              {%- if section.settings.image != blank -%}
                {%- if section.settings.image_behavior == 'ambient' -%}
                  {%- assign widths = '198, 432, 642, 900, 1320, 1800' -%}
                  {%- capture sizes -%}
                    (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 1.6667 }}px,
                    (min-width: 750px) calc((100vw - 10rem) / 1.667), {% if section.settings.full_width %} calc(100vw / 1.667){% else %} calc((100vw - 3rem) / 1.667){% endif %}
                  {%- endcapture -%}
                {%- else -%}
                  {%- assign widths = '165, 360, 535, 750, 1100, 1500' -%}
                  {%- capture sizes -%}
                    (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                    (min-width: 750px) calc((100vw - 10rem) / 2), {% if section.settings.full_width %} 50vw{% else %} calc((100vw - 3rem) / 2){% endif %}
                  {%- endcapture -%}
                {%- endif -%}
                {%- liquid
                  if section.settings.image_mobile == blank
                    echo section.settings.image | image_url: width: 1500 | image_tag: loading: 'lazy', class: 'image-fit', sizes: sizes, widths: widths, is: 'lazy-image'
                  else
                    echo section.settings.image_mobile | image_url: width: 1500 | image_tag: loading: 'lazy', class: 'image-fit medium-hide large-up-hide', sizes: sizes, widths: widths, is: 'lazy-image'
                    echo section.settings.image | image_url: width: 1500 | image_tag: loading: 'lazy', class: 'image-fit small-hide', sizes: sizes, widths: widths, is: 'lazy-image'
                  endif
                -%}
              {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'placeholder' }}
              {%- endif -%}
            </div>
          </use-animate>
          {%  else %}
          {% comment %} VIDEO PART {% endcomment %}
          <div class="image-with-text--video image-animate media media--{{ section.settings.image_ratio }} media-mobile--{{ section.settings.mobile_image_ratio }}">
            {%- liquid
              assign video_id = section.settings.video.id | default: section.settings.video_url.id
              assign video_alt = section.settings.video.alt | default: default: section.settings.description
              assign alt = 'sections.video.load_video' | t: description: video_alt | escape
              assign poster =  section.settings.image | default: section.settings.video.preview_image
              if section.settings.image_mobile != blank
              assign poster_mobile =  section.settings.image_mobile | default: section.settings.video.preview_image 
              else 
              assign poster_mobile =  section.settings.image | default: section.settings.video.preview_image 
              endif
              if section.settings.video != null
                assign ratio_diff = section.settings.video.aspect_ratio | minus: poster.aspect_ratio | abs
                if ratio_diff < 0.01 and ratio_diff > 0
                  assign fix_ratio = true
                endif
              endif
            -%}

            <noscript>
              <div class="image-with-text-video-section__media">
                {%- if section.settings.video == null and section.settings.video_url != null -%}
                  <a href="{{ section.settings.video_url }}" class="card-wrapper">
                    <div class="card deferred-media__poster">
                      <span class="deferred-media__poster-button motion-reduce">
                        {%- render 'icon', icon: 'play' -%}
                      </span>
                    
                      <div class="media media--{{ section.settings.image_ratio }} media-mobile--{{ section.settings.mobile_image_ratio }}">
                        {%- if poster != null -%}
                          {{ poster | image_url: width: 1500 | image_tag:
                            loading: 'lazy',
                            class: 'image-fit medium-hide large-up-hide',
                            sizes: sizes,
                            widths: '375, 750, 1100, 1500, 1780, 2000, 3000'
                          }}
                          {{ poster_mobile | image_url: width: 1500 | image_tag:
                            loading: 'lazy',
                            class: 'image-fit small-hide',
                            sizes: sizes,
                            widths: '375, 750, 1100, 1500, 1780, 2000, 3000'
                          }}
                        {%- else -%}
                          {{ 'hero-apparel-3' | placeholder_svg_tag: 'placeholder-svg placeholder collage-card__image' }}
                        {%- endif -%}
                      </div>
                    </div>
                  </a>
                {%- else -%}
                  {{ section.settings.video | video_tag:
                    image_size: "1100x",
                    loop: section.settings.enable_video_looping,
                    controls: true,
                    muted: false
                  }}
                {%- endif -%}
              </div>
            </noscript>
            <deferred-media class="card-wrapper deferred-media no-js-hidden media-wrapper media-wrapper--large{% if fix_ratio %} media-fit-cover{% endif %}"
                data-media-id="{{ video_id }}">
              <button
                id="Deferred-Poster-{{ section.settings.video_url.id }}"
                class="card deferred-media__poster"
                type="button"
              >
                <span class="deferred-media__poster-button motion-reduce">
                  {%- render 'icon', icon: 'play' -%}
                </span>
                <use-animate data-animate="zoom-fade-small" class="media-wrapper">
                  {%- if poster != blank -%}
                    {%- assign alt = 'sections.video.load_video' | t: description: section.settings.description | escape -%}
                    {{ poster | image_url: width: 1500 | image_tag:
                      loading: 'lazy',
                      class: 'image-fit medium-hide large-up-hide',
                      sizes: sizes,
                      widths: '375, 750, 1100, 1500, 1780, 2000, 3000',
                      alt: alt,
                      is: 'lazy-image'
                    }}
                    {{ poster_mobile | image_url: width: 1500 | image_tag:
                      loading: 'lazy',
                      class: 'image-fit small-hide',
                      sizes: sizes,
                      widths: '375, 750, 1100, 1500, 1780, 2000, 3000',
                      alt: alt,
                      is: 'lazy-image'
                    }}
                  {%- else -%}
                    {{ 'hero-apparel-3' | placeholder_svg_tag: 'placeholder-svg placeholder collage-card__image' }}
                  {%- endif -%}
                </use-animate>
              </button>
              <template>
                {%- if section.settings.video == null and section.settings.video_url != null -%}
                  <video-section
                    data-init-mode="template"
                    data-parent="deferred-media"
                    data-loop="{% if section.settings.enable_video_looping %}1{% else %}0{% endif %}"
                    data-type="{{ section.settings.video_url.type }}"
                    data-video-id="{{ section.settings.video_url.id }}"></video-section>
                {%- else -%}
                  {{ section.settings.video | video_tag:
                    image_size: "1100x",
                    autoplay: true,
                    loop: section.settings.enable_video_looping,
                    controls: true,
                    muted: false
                  }}
                {%- endif -%}
              </template>
            </deferred-media>
          </div>
          {% endif %}
        </div>
      {% endif %}
      <div class="grid__item">
        <div class="image-with-text__content {{ section.settings.text_box_position }} {{ section.settings.text_alignment }} mobile-{{ section.settings.mobile_text_alignment }}">
          {%- for block in section.blocks -%}
            {% case block.type %}
              {%- when 'heading' -%}
                <{{ block.settings.heading_tag }} class="image-with-text__heading {{ block.settings.heading_size }}" {{ block.shopify_attributes }}>{{ block.settings.heading }}</{{ block.settings.heading_tag }}>
              {%- when 'subheading' -%}
                {% if block.settings.subheading != blank %}
                  <h3 class="h1 sub_title" style="color: {{ block.settings.sub_text_color }};">{{ block.settings.subheading }}</h3>
                {% endif %}
              {%- when 'text' -%}
                <div class="image-with-text__text text_list_icon{% if block.settings.secondary_color %} image-with-text__text--colored{% endif %} {{ block.settings.text_size }} rte" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
            {%- endcase -%}
          {%- endfor -%}
          

          <div class="newslatter_cover">
            {%- assign return_url = section.settings.return_url | default: 'back' | append: '' -%}
            {% form 'customer', class: 'newsletter-form', return_to: return_url %}
              <input type="hidden" name="contact[tags]" value="newsletter"/>
              <div class="newsletter-form__field-wrapper">
                <div class="field">
                  <input
                    id="NewsletterForm--{{ section.id }}"
                    type="email"
                    name="contact[email]"
                    class="field__input required{% if form.errors %} invalid{% endif %}"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="Newsletter-error--{{ section.id }}"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="Newsletter-success--{{ section.id }}"
                    {% endif %}
                    {% if section.settings.email_placeholder != blank %}
                      placeholder="{{ section.settings.email_placeholder }}"
                    {% endif %}
                    required
                  />
                  {% if section.settings.email_placeholder != blank %}
                    <label class="visually-hidden" for="NewsletterForm--{{ section.id }}">{{ section.settings.email_placeholder }}</label>
                  {% endif %}
                  {% if section.settings.consent != blank %}
                    <div class="privacy_text">
                      <input type="checkbox" id="privacy_text" required>
                      <label for="privacy_text">{{ section.settings.consent }}</label>
                    </div>
                  {% endif %}
                  <button type="submit" class="button" name="commit" aria-label="{{ 'newsletter.button_label' | t }}">
                    {{ 'newsletter.button_label' | t }}
                  </button>
                </div>
                {%- if form.errors -%}
                  <small class="form__message errors" id="Newsletter-error--{{ section.id }}">
                    {% render 'icon', icon: 'error' %}
                    {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
                  </small>
                {%- endif -%}
              </div>
              {%- if form.posted_successfully? -%}
                <p class="form__message h3" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>
                  {% render 'icon', icon: 'success' %}
                  {{ section.settings.success_message }}
                  {% comment %} {{ 'newsletter.success' | t }} {% endcomment %}
                </p>
              {%- endif -%}
            {% endform %}
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Newsletter",
  "tag": "section",
  "class": "section newsletter-main image-with-text-section",
  "settings": [
    {
      "type": "select",
      "id": "page_width",
      "options": [
        {
          "value": "narrow",
          "label": "Schmal"
        },
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Breit"
        },
        {
          "value": "large",
          "label": "Groß"
        },
        {
          "value": "full-width",
          "label": "Volle Breite"
        }
      ],
      "default": "standard",
      "label": "Abschnittsbreite"
    },
    {
      "type": "header",
      "content": "Abschnittsfarbe"
    },
    {
      "type": "color",
      "label": "Primärer Hintergrund",
      "id": "primary_background",
      "default": "#baab9e"
    },
    {
      "type": "color",
      "label": "Sekundärer Hintergrund",
      "id": "secondary_background",
      "default": "#d4cfcc"
    },
    {
      "type": "header",
      "content": "Newsletter-Einstellungen"
    },
    {
      "type": "text",
      "label": "Erfolgsmeldung",
      "id": "success_message",
      "default": "Danke für das Abonnieren"
    },
    {
      "type": "text",
      "label": "E-Mail-Platzhalter",
      "id": "email_placeholder",
      "default": "Deine beste E-Mail-Adresse"
    },
    {
      "type": "richtext",
      "label": "Einwilligung",
      "id": "consent",
      "default": "<p>Ich habe die Datenschutzbestimmungen gelesen und akzeptiert.</p>"
    },
    {
      "type": "checkbox",
      "id": "enable_main_image",
      "label": "Bild aktivieren",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.all.image.label"
    },
    {
      "type": "select",
      "id": "image_position",
      "options": [
        {
          "value": "20% 0",
          "label": "t:sections.all.image_position.options__1.label"
        },
        {
          "value": "top center",
          "label": "t:sections.all.image_position.options__2.label"
        },
        {
          "value": "80% 0",
          "label": "t:sections.all.image_position.options__3.label"
        },
        {
          "value": "20% 50%",
          "label": "t:sections.all.image_position.options__4.label"
        },
        {
          "value": "center center",
          "label": "t:sections.all.image_position.options__5.label"
        },
        {
          "value": "80% 50%",
          "label": "t:sections.all.image_position.options__6.label"
        },
        {
          "value": "20% 100%",
          "label": "t:sections.all.image_position.options__7.label"
        },
        {
          "value": "bottom center",
          "label": "t:sections.all.image_position.options__8.label"
        },
        {
          "value": "80% 100%",
          "label": "t:sections.all.image_position.options__9.label"
        }
      ],
      "default": "center center",
      "label": "t:sections.all.image_position.label",
      "info": "t:sections.all.image_position.info"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "image_first",
          "label": "t:sections.image-with-text.settings.layout.options__1.label"
        },
        {
          "value": "text_first",
          "label": "t:sections.image-with-text.settings.layout.options__2.label"
        }
      ],
      "default": "image_first",
      "label": "t:sections.image-with-text.settings.layout.label"
    },
    {
      "type": "range",
      "label": "Box-Abstand (Desktop)",
      "id": "desktop_box_spacing",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "label": "Box-Abstand (Mobil)",
      "id": "mobile_box_spacing",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "text_box_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.image-with-text.settings.text_box_position.options__1.label"
        },
        {
          "value": "middle",
          "label": "t:sections.image-with-text.settings.text_box_position.options__2.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.image-with-text.settings.text_box_position.options__3.label"
        }
      ],
      "default": "middle",
      "label": "t:sections.image-with-text.settings.text_box_position.label"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "left",
          "label": "Links"
        },
        {
          "value": "center",
          "label": "Zentriert"
        },
        {
          "value": "right",
          "label": "Rechts"
        }
      ],
      "default": "left",
      "label": "Textausrichtung"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "label": "1:1",
          "value": "image_square"
        },
        {
          "label": "t:sections.all.image_ratio.options__1.label",
          "value": "adapt"
        },
        {
          "label": "t:sections.all.image_ratio.options__2.label",
          "value": "400px"
        },
        {
          "label": "t:sections.all.image_ratio.options__3.label",
          "value": "450px"
        },
        {
          "label": "480px",
          "value": "480px"
        },
        {
          "label": "t:sections.all.image_ratio.options__4.label",
          "value": "500px"
        },
        {
          "label": "t:sections.all.image_ratio.options__5.label",
          "value": "550px"
        },
        {
          "label": "t:sections.all.image_ratio.options__6.label",
          "value": "600px"
        },
        {
          "label": "t:sections.all.image_ratio.options__7.label",
          "value": "650px"
        },
        {
          "label": "t:sections.all.image_ratio.options__8.label",
          "value": "700px"
        },
        {
          "label": "t:sections.all.image_ratio.options__9.label",
          "value": "750px"
        },
        {
          "label": "t:sections.all.image_ratio.options__10.label",
          "value": "100vh"
        }
      ],
      "default": "650px",
      "label": "t:sections.all.image_ratio.label"
    },
    {
      "type": "select",
      "id": "enlarge_content",
      "options": [
        {
          "value": "small",
          "label": "Klein"
        },
        {
          "value": "medium",
          "label": "Mittel"
        },
        {
          "value": "large",
          "label": "Groß"
        }
      ],
      "default": "medium",
      "label": "Bildbreite"
    },
    {
      "type": "checkbox",
      "id": "show_divider",
      "default": false,
      "label": "t:sections.all.show_divider.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.animation.content"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.animation.image_behavior.options__1.label"
        },
        {
          "value": "ambient",
          "label": "t:sections.all.animation.image_behavior.options__2.label"
        }
      ],
      "default": "none",
      "label": "t:sections.all.animation.image_behavior.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.mobile_layout.header.content"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:sections.all.image_mobile.label"
    },
    {
      "type": "select",
      "id": "mobile_layout",
      "options": [
        {
          "value": "image_first",
          "label": "t:sections.image-with-text.settings.mobile_layout.options__1.label"
        },
        {
          "value": "text_first",
          "label": "t:sections.image-with-text.settings.mobile_layout.options__2.label"
        },
        {
          "value": "no_image",
          "label": "t:sections.image-with-text.settings.mobile_layout.options__3.label"
        },
        {
          "value": "overlap",
          "label": "t:sections.image-with-text.settings.mobile_layout.options__4.label"
        }
      ],
      "default": "image_first",
      "label": "t:sections.image-with-text.settings.mobile_layout.label"
    },
    {
      "type": "select",
      "id": "mobile_text_alignment",
      "options": [
        {
          "value": "left",
          "label": "Links"
        },
        {
          "value": "center",
          "label": "Zentriert"
        },
        {
          "value": "right",
          "label": "Rechts"
        }
      ],
      "default": "left",
      "label": "Textausrichtung (Mobil)"
    },
    {
      "type": "select",
      "id": "mobile_image_ratio",
      "options": [
        {
          "label": "t:sections.all.mobile_layout.mobile_image_ratio.options__1.label",
          "value": "auto"
        },
        {
          "label": "t:sections.all.mobile_layout.mobile_image_ratio.options__2.label",
          "value": "200px"
        },
        {
          "label": "t:sections.all.mobile_layout.mobile_image_ratio.options__3.label",
          "value": "250px"
        },
        {
          "label": "t:sections.all.mobile_layout.mobile_image_ratio.options__4.label",
          "value": "300px"
        },
        {
          "label": "t:sections.all.mobile_layout.mobile_image_ratio.options__5.label",
          "value": "400px"
        },
        {
          "label": "t:sections.all.mobile_layout.mobile_image_ratio.options__6.label",
          "value": "500px"
        },
        {
          "label": "t:sections.all.mobile_layout.mobile_image_ratio.options__7.label",
          "value": "600px"
        },
        {
          "label": "t:sections.all.mobile_layout.mobile_image_ratio.options__8.label",
          "value": "100vh"
        },
        {
          "label": "t:sections.all.mobile_layout.mobile_image_ratio.options__9.label",
          "value": "adapt"
        }
      ],
      "default": "auto",
      "label": "t:sections.all.mobile_layout.mobile_image_ratio.label"
    },
    {
      "type": "header",
      "content": "t:sections.image-with-text.settings.header__1.content"
    },
    {
      "type": "video",
      "id": "video",
      "label": "t:sections.image-with-text.settings.video.label"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "t:sections.image-with-text.settings.enable_video_looping.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.image-with-text.settings.header__2.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.image-with-text.settings.paragraph.content"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": ["youtube", "vimeo"],
      "label": "t:sections.image-with-text.settings.video_url.label",
      "info": "t:sections.image-with-text.settings.video_url.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.header.content"
    },
    {
      "type": "checkbox",
      "id": "use_custom_colors",
      "default": false,
      "label": "t:sections.all.colors.use_custom_colors.label"
    },
    {
      "type": "color",
      "id": "colors_button_label",
      "label": "t:sections.all.colors.colors_button_label.label",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "colors_button_background",
      "label": "t:sections.all.colors.colors_button_background.label",
      "default": "#1a1b18"
    },
    {
      "type": "color",
      "id": "colors_text",
      "label": "t:sections.all.colors.colors_text.label",
      "default": "#212326"
    },
    {
      "type": "color",
      "id": "colors_background",
      "label": "t:sections.all.colors.colors_background.label",
      "default": "#ffffff"
    },
    {
      "type": "color_background",
      "id": "gradient_background",
      "label": "t:sections.all.colors.gradient_background.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.header.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "t:sections.all.padding.padding_top.unit",
      "label": "Polsterung oben (Desktop)",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "t:sections.all.padding.padding_bottom.unit",
      "label": "Polsterung unten (Desktop)",
      "default": 36
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "t:sections.all.padding.padding_top.unit",
      "label": "Polsterung oben (Mobil)",
      "default": 36
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "t:sections.all.padding.padding_bottom.unit",
      "label": "Polsterung unten (Mobil)",
      "default": 36
    },
    {
      "type": "range",
      "label": "Polsterung links",
      "id": "padding_left",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "label": "Polsterung rechts",
      "id": "padding_right",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "label": "Abstand oben",
      "id": "margin_top",
      "default": 0,
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "label": "Abstand unten",
      "id": "margin_bottom",
      "default": 0,
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-with-text.blocks.heading.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Bild mit Text",
          "label": "t:sections.all.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "options": [
            {
              "value": "h1",
              "label": "t:sections.all.heading_tag.options__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_tag.options__2.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.heading_tag.options__3.label"
            },
            {
              "value": "h4",
              "label": "t:sections.all.heading_tag.options__4.label"
            },
            {
              "value": "h5",
              "label": "t:sections.all.heading_tag.options__5.label"
            },
            {
              "value": "h6",
              "label": "t:sections.all.heading_tag.options__6.label"
            },
            {
              "value": "div",
              "label": "t:sections.all.heading_tag.options__7.label"
            },
            {
              "value": "span",
              "label": "t:sections.all.heading_tag.options__8.label"
            },
            {
              "value": "p",
              "label": "t:sections.all.heading_tag.options__9.label"
            }
          ],
          "default": "h2",
          "label": "t:sections.all.heading_tag.label",
          "info": "t:sections.all.heading_tag.info"
        }
      ]
    },
    {
      "type": "subheading",
      "name": "t:sections.image-with-text.blocks.subheading.name",
      "limit": 2,
      "settings": [
        {
          "type": "richtext",
          "id": "subheading",
          "default": "<p>Fügen Sie einen Slogan hinzu</p>",
          "label": "t:sections.all.subheading.label"
        },
        {
          "type": "color",
          "label": "Untertitelfarbe",
          "id": "sub_text_color",
          "default": "#000000"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-with-text.blocks.text.name",
      "limit": 2,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Verknüpfen Sie Text mit einem Bild, um das von Ihnen gewählte Produkt, die Sammlung oder den Blogbeitrag hervorzuheben.</p>",
          "label": "t:sections.all.text.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "typeset",
              "label": "t:sections.all.text_size.options__1.label"
            },
            {
              "value": "typeset2",
              "label": "t:sections.all.text_size.options__2.label"
            },
            {
              "value": "typeset3",
              "label": "t:sections.all.text_size.options__3.label"
            }
          ],
          "default": "typeset2",
          "label": "t:sections.all.text_size.label"
        },
        {
          "type": "checkbox",
          "id": "secondary_color",
          "default": false,
          "label": "t:sections.all.secondary_color.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Newsletter",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  }
}
{% endschema %}
