{%- style -%}
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;

    --section-padding-left: {{ section.settings.padding_left }}px;
    --section-padding-right: {{ section.settings.padding_right }}px;
    --section-margin-top: {{ section.settings.margin_top }}px;
    --section-margin-bottom: {{ section.settings.margin_bottom }}px;

    {%- if section.settings.use_custom_colors %}
        --primary-background: {{ section.settings.primary_background }};
        --secondary-background: {{ section.settings.secondary_background }};
        --color-quote-text: {{ section.settings.colors_quote_text.red }}, {{ section.settings.colors_quote_text.green }}, {{ section.settings.colors_quote_text.blue }};
        --color-author-text: {{ section.settings.colors_author_text.red }}, {{ section.settings.colors_author_text.green }}, {{ section.settings.colors_author_text.blue }};
        --color-profession-text: {{ section.settings.colors_profession_text.red }}, {{ section.settings.colors_profession_text.green }}, {{ section.settings.colors_profession_text.blue }};
    {% endif -%}
  }

  @media only screen and (max-width:749px){
    #shopify-section-{{ section.id }} .section--padding {
      --section-padding-top: {{ section.settings.mobile_padding_top }}px;
      --section-padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
      padding-top:var(--section-padding-top);
      padding-bottom:var(--section-padding-bottom);
    }
  }
{%- endstyle -%}

{{ 'section-quote.css' | asset_url | stylesheet_tag }}
{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{%- liquid
  assign custom_class = ''
  if section.settings.use_custom_colors
    assign custom_class = custom_class | append: ' rich-text--colored'
  endif
  if section.settings.horizontal_content
    assign custom_class = custom_class | append: ' rich-text--horizontal'
  endif
-%}

{%- if section.settings.show_divider %}<div class="section--divider">{% endif -%}
  <div class="rich-text section--padding{{ custom_class }}">
    <div class="page-width--{{ section.settings.page_width }}">
      <div class="rich-text__block_main {% if section.settings.show_inside_box %} rich_box{% endif %}">
        {% if section.settings.intro_title != blank and section.settings.enable_intro_title %}
          <div class="intro_title">
            {{ section.settings.intro_title }}
          </div>
        {% endif %}
        <div class="rich-text__blocks {{ section.settings.text_alignment }} mobile-{{ section.settings.mobile_text_alignment }} {{ section.settings.box_alignment }}">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'heading' -%}
                <{{ block.settings.heading_tag }} class="rich-text__heading {{ block.settings.heading_size }}" {{ block.shopify_attributes }}>{% if block.settings.enable_text_italic %}<i>{% endif %}“{{ block.settings.heading }}”{% if block.settings.enable_text_italic %}</i>{% endif %}</{{ block.settings.heading_tag }}>
              {%- when 'subheading' -%}
                <p class="rich-text__subheading {{ block.settings.subheading_size }}" {{ block.shopify_attributes }}>{{ block.settings.subheading }}</p>
              {%- when 'text' -%}
                <use-animate>
                  <div class="rich-text__text {{ block.settings.text_size }} rte" {{ block.shopify_attributes }}>
                    {%- render 'highlight-text', hl_input: block.settings.text, hl_phrases: block.settings.highlight_phrases, hl_style: block.settings.highlight_style -%}
                  </div>
                </use-animate>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
{%- if section.settings.show_divider %}</div>{% endif -%}

{% schema %}
{
  "name": "Quote",
  "tag": "section",
  "class": "section rich-text-main section-main-quote",
  "settings": [
    {
      "type": "select",
      "id": "page_width",
      "options": [
        {
          "value": "narrow",
          "label": "Schmal"
        },
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Breit"
        },
        {
          "value": "large",
          "label": "Groß"
        },
        {
          "value": "full-width",
          "label": "Volle Breite"
        }
      ],
      "default": "standard",
      "label": "Abschnittsbreite"
    },
    {
      "type": "checkbox",
      "label": "Layout in Box anzeigen",
      "id": "show_inside_box",
      "default": false
    },
    {
      "type": "checkbox",
      "label": "Intro-Titel aktivieren",
      "id": "enable_intro_title",
      "default": false
    },
    {
      "type": "text",
      "label": "Intro-Titel",
      "id": "intro_title",
      "default": "Intro-Titel"
    },
    {
      "type": "select",
      "label": "Box-Ausrichtung",
      "id": "box_alignment",
      "options": [
        {
          "label": "Links",
          "value": "box_left"
        },
        {
          "label": "Zentriert",
          "value": "box_center"
        },
        {
          "label": "Rechts",
          "value": "box_right"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.all.text_alignment.label"
    },
    {
      "type": "select",
      "id": "mobile_text_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.mobile_layout.mobile_text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.mobile_layout.mobile_text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.mobile_layout.mobile_text_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.all.mobile_layout.mobile_text_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "horizontal_content",
      "default": false,
      "label": "t:sections.rich-text.settings.horizontal_content.label"
    },
    {
      "type": "checkbox",
      "id": "narrow",
      "default": false,
      "label": "t:sections.all.narrow.label"
    },
    {
      "type": "checkbox",
      "id": "show_divider",
      "default": false,
      "label": "t:sections.all.show_divider.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.header.content"
    },
    {
      "type": "checkbox",
      "id": "use_custom_colors",
      "default": false,
      "label": "t:sections.all.colors.use_custom_colors.label"
    },
    {
      "type": "color",
      "label": "Primärer Hintergrund",
      "id": "primary_background",
      "default": "#baab9e"
    },
    {
      "type": "color",
      "label": "Sekundärer Hintergrund",
      "id": "secondary_background",
      "default": "#d4cfcc"
    },
    {
      "type": "color",
      "label": "Box background",
      "id": "box_background",
      "default": "#ffffff",
      "info": "Box background color apply only when 'Show inside box?' setting is true"
    },
    {
      "type": "color",
      "id": "colors_quote_text",
      "label": "Quote Text Color",
      "default": "#212326"
    },
    {
      "type": "color",
      "id": "colors_author_text",
      "label": "Author Text Color",
      "default": "#212326"
    },
    {
      "type": "color",
      "id": "colors_profession_text",
      "label": "Profession Text Color",
      "default": "#212326"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.header.content"
    },
    {
      "type": "range",
      "id": "padding_top",      
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "t:sections.all.padding.padding_top.unit",
      "label": "t:sections.all.padding.padding_top.label",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "t:sections.all.padding.padding_bottom.unit",
      "label": "t:sections.all.padding.padding_bottom.label",
      "default": 36
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "t:sections.all.padding.padding_top.unit",
      "label": "Polsterung oben (Mobile)",
      "default": 36
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "t:sections.all.padding.padding_bottom.unit",
      "label": "Polsterung unten (Mobile)",
      "default": 36
    },
    {
      "type": "range",
      "label": "Polsterung links",
      "id": "padding_left",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "label": "Polsterung rechts",
      "id": "padding_right",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "label": "Abstand oben",
      "id": "margin_top",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "label": "Abstand unten",
      "id": "margin_bottom",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Quote text block",
      "limit": 1,
      "settings": [
        {
        "type": "checkbox",
        "id": "enable_text_italic",
        "label": "Enable text italic",
        "default": true
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Erzählen Sie von Ihrer Marke",
          "label": "Quote"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h3",
              "label": "Sehr klein"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "options": [
            {
              "value": "h1",
              "label": "t:sections.all.heading_tag.options__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_tag.options__2.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.heading_tag.options__3.label"
            },
            {
              "value": "h4",
              "label": "t:sections.all.heading_tag.options__4.label"
            },
            {
              "value": "h5",
              "label": "t:sections.all.heading_tag.options__5.label"
            },
            {
              "value": "h6",
              "label": "t:sections.all.heading_tag.options__6.label"
            },
            {
              "value": "div",
              "label": "t:sections.all.heading_tag.options__7.label"
            },
            {
              "value": "span",
              "label": "t:sections.all.heading_tag.options__8.label"
            },
            {
              "value": "p",
              "label": "t:sections.all.heading_tag.options__9.label"
            }
          ],
          "default": "h2",
          "label": "t:sections.all.heading_tag.label",
          "info": "t:sections.all.heading_tag.info"
        }
      ]
    },
    {
      "type": "subheading",
      "name": "Author text block",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "default": "Fügen Sie eine Tagline hinzu",
          "label": "Author"
        },
        {
          "type": "select",
          "id": "subheading_size",
          "options": [
            {
              "value": "h5",
              "label": "t:sections.all.subheading_size.options__1.label"
            },
            {
              "value": "h4",
              "label": "t:sections.all.subheading_size.options__2.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.subheading_size.options__3.label"
            }
          ],
          "default": "h5",
          "label": "t:sections.all.subheading_size.label"
        },
        {
          "type": "checkbox",
          "id": "secondary_color",
          "default": false,
          "label": "t:sections.all.secondary_color.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "Profession text block",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "<p>Teilen Sie Informationen über Ihre Marke mit Ihren Kunden. Beschreiben Sie ein Produkt, machen Sie Ankündigungen oder begrüßen Sie Kunden in Ihrem Geschäft.</p>",
          "label": "Profession"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "typeset",
              "label": "t:sections.all.text_size.options__1.label"
            },
            {
              "value": "typeset2",
              "label": "t:sections.all.text_size.options__2.label"
            },
            {
              "value": "typeset3",
              "label": "t:sections.all.text_size.options__3.label"
            }
          ],
          "default": "typeset2",
          "label": "t:sections.all.text_size.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Quote",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
      ]
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  }
}
{% endschema %}
