{%- style -%}
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;

    --section-padding-left: {{ section.settings.padding_left }}px;
    --section-padding-right: {{ section.settings.padding_right }}px;
    --section-margin-top: {{ section.settings.margin_top }}px;
    --section-margin-bottom: {{ section.settings.margin_bottom }}px;

    {%- if section.settings.use_custom_colors %}
      --primary-background: {{ section.settings.primary_background }};
      --secondary-background: {{ section.settings.secondary_background }};

      {% comment %}
      --gradient-background: {% if section.settings.gradient_background != blank %}{{ section.settings.gradient_background }}{% else %}{{ section.settings.colors_background }}{% endif %};
      --color-background: {{ section.settings.colors_background.red }}, {{ section.settings.colors_background.green }}, {{ section.settings.colors_background.blue }};
      {% endcomment %}

      --color-foreground: {{ section.settings.colors_text.red }}, {{ section.settings.colors_text.green }}, {{ section.settings.colors_text.blue }};
      --color-link: var(--color-foreground);
      --color-border: var(--color-foreground);
      --color-heading: var(--color-foreground);
      --color-button-background: {{ section.settings.colors_button_background.red }}, {{ section.settings.colors_button_background.green }}, {{ section.settings.colors_button_background.blue }};
      --color-button-text: {{ section.settings.colors_button_label.red }}, {{ section.settings.colors_button_label.green }}, {{ section.settings.colors_button_label.blue }};
      --color-button-border: var(--color-button-background);
      --color-highlight: {{ section.settings.colors_highlight.red }}, {{ section.settings.colors_highlight.green }}, {{ section.settings.colors_highlight.blue }};
    {% endif -%}
  }

  #shopify-section-{{ section.id }} .rich-text__blocks {
    max-width: {{ section.settings.content_width }}px;
    width: 100%;
  }

  @media only screen and (max-width:749px){
    #shopify-section-{{ section.id }} .section--padding {
      --section-padding-top: {{ section.settings.mobile_padding_top }}px;
      --section-padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
      padding-top:var(--section-padding-top);
      padding-bottom:var(--section-padding-bottom);
    }
  }
{%- endstyle -%}

{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{%- liquid
  assign custom_class = ''
  if section.settings.use_custom_colors
    assign custom_class = custom_class | append: ' rich-text--colored'
  endif
  if section.settings.horizontal_content
    assign custom_class = custom_class | append: ' rich-text--horizontal'
  endif
-%}

{%- if section.settings.show_divider %}<div class="section--divider">{% endif -%}
  <div class="rich-text section--padding{{ custom_class }}">
    <div class="page-width--{{ section.settings.page_width }}">
      <div class="rich-text__block_main {% if section.settings.show_inside_box %} rich_box{% endif %}">
        {% if section.settings.intro_title != blank and section.settings.enable_intro_title %}
          <div class="intro_title">
            {{ section.settings.intro_title }}
          </div>
        {% endif %}
        <div class="rich-text__blocks {{ section.settings.text_alignment }} mobile-{{ section.settings.mobile_text_alignment }} {{ section.settings.box_alignment }}">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'heading' -%}
                <{{ block.settings.heading_tag }} class="rich-text__heading {{ block.settings.heading_size }}" {{ block.shopify_attributes }}>{{ block.settings.heading | escape }}</{{ block.settings.heading_tag }}>
              {%- when 'subheading' -%}
                <p class="rich-text__subheading{% if block.settings.secondary_color %} rich-text__subheading--colored{% endif %} {{ block.settings.subheading_size }}" {{ block.shopify_attributes }}>{{ block.settings.subheading | escape }}</p>
              {%- when 'text' -%}
                <use-animate>
                  <div class="rich-text__text{% if block.settings.secondary_color %} rich-text__text--colored{% endif %} {{ block.settings.text_size }} rte" {{ block.shopify_attributes }}>
                    {%- render 'highlight-text', hl_input: block.settings.text, hl_phrases: block.settings.highlight_phrases, hl_style: block.settings.highlight_style -%}
                  </div>
                </use-animate>
              {%- when 'custom_liquid' -%}
                <div class="rich-text__text rte" {{ block.shopify_attributes }}>{{ block.settings.custom_liquid }}</div>
              {%- when 'button' -%}
                {%- if block.settings.button_label != blank -%}
                  {%- if block.settings.button_style_secondary -%}
                    <a class="button button--cta button--{{ block.settings.button_size }}"{% if block.settings.button_link != blank %} href="{{ block.settings.button_link }}"{% else %} role="link" aria-disabled="true"{% endif %} {{ block.shopify_attributes }}>
                      <span class="label">{{ block.settings.button_label }}</span>
                      {% render 'icon', icon: 'arrow' %}
                    </a>
                  {%- else -%}
                    <a class="button button--{{ block.settings.button_size }}"{% if block.settings.button_link != blank %} href="{{ block.settings.button_link }}"{% else %} role="link" aria-disabled="true"{% endif %} {{ block.shopify_attributes }}>
                      {{ block.settings.button_label }}
                    </a>
                  {%- endif -%}
                {%- endif -%}
                {%- when 'download_button_block' -%}
                  {%- if block.settings.button_link2 != blank -%}
                    <a class="download-button-cta-rich button {% if block.settings.button_style2 == "secondary" %} button--cta {% endif %} button--{{ block.settings.button_size2 }}"{% if block.settings.button_link2 != blank %} href="{{ block.settings.button_link2 }}"{% else %} role="link" aria-disabled="true"{% endif %} {{ block.shopify_attributes }} download>
                      {% render 'icon', icon: 'down-arrow' %}
                      <span class="label">{{ block.settings.button_label2 | escape }} <i>(PDF, 25kb)</i></span>
                    </a>
                  {% else %}
                    <a class="download-button-cta-rich button {% if block.settings.button_style2 == "secondary" %} button--cta {% endif %} button--{{ block.settings.button_size2 }}"{% if block.settings.download_image != blank %} href="{{ block.settings.download_image | image_url }}"{% else %} role="link" aria-disabled="true"{% endif %} {{ block.shopify_attributes }} download>
                      {% render 'icon', icon: 'down-arrow' %}
                      <span class="label">{{ block.settings.button_label2 | escape }} <i>(PDF, 25kb)</i></span>
                    </a>
                {%- endif -%}
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
{%- if section.settings.show_divider %}</div>{% endif -%}

{% schema %}
{
  "name": "t:sections.rich-text.name",
  "tag": "section",
  "class": "section rich-text-main",
  "settings": [
    {
      "type": "select",
      "id": "page_width",
      "options": [
        {
          "value": "narrow",
          "label": "Schmal"
        },
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Breit"
        },
        {
          "value": "large",
          "label": "Groß"
        },
        {
          "value": "full-width",
          "label": "Volle Breite"
        }
      ],
      "default": "standard",
      "label": "Abschnittsbreite"
    },
    {
      "type": "checkbox",
      "label": "Layout in Box anzeigen",
      "id": "show_inside_box",
      "default": false
    },
    {
      "type": "checkbox",
      "label": "Intro-Titel aktivieren",
      "id": "enable_intro_title",
      "default": false
    },
    {
      "type": "text",
      "label": "Intro-Titel",
      "id": "intro_title",
      "default": "Intro-Titel"
    },
    {
      "type": "range",
      "label": "Inhaltsbreite",
      "id": "content_width",
      "default": 900,
      "min": 300,
      "max": 1000,
      "step": 10,
      "unit": "px"
    },
    {
      "type": "select",
      "label": "Box-Ausrichtung",
      "id": "box_alignment",
      "options": [
        {
          "label": "Links",
          "value": "box_left"
        },
        {
          "label": "Zentriert",
          "value": "box_center"
        },
        {
          "label": "Rechts",
          "value": "box_right"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.all.text_alignment.label"
    },
    {
      "type": "select",
      "id": "mobile_text_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.mobile_layout.mobile_text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.mobile_layout.mobile_text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.mobile_layout.mobile_text_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.all.mobile_layout.mobile_text_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "horizontal_content",
      "default": false,
      "label": "t:sections.rich-text.settings.horizontal_content.label"
    },
    {
      "type": "checkbox",
      "id": "narrow",
      "default": false,
      "label": "t:sections.all.narrow.label"
    },
    {
      "type": "checkbox",
      "id": "show_divider",
      "default": false,
      "label": "t:sections.all.show_divider.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.header.content"
    },
    {
      "type": "checkbox",
      "id": "use_custom_colors",
      "default": false,
      "label": "t:sections.all.colors.use_custom_colors.label"
    },
    {
      "type": "color",
      "label": "Primärer Hintergrund",
      "id": "primary_background",
      "default": "#baab9e"
    },
    {
      "type": "color",
      "label": "Sekundärer Hintergrund",
      "id": "secondary_background",
      "default": "#d4cfcc"
    },
    {
      "type": "color",
      "id": "colors_button_label",
      "label": "t:sections.all.colors.colors_button_label.label",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "colors_button_background",
      "label": "t:sections.all.colors.colors_button_background.label",
      "default": "#1a1b18"
    },
    {
      "type": "color",
      "id": "colors_text",
      "label": "t:sections.all.colors.colors_text.label",
      "default": "#212326"
    },
    {
      "type": "color",
      "id": "colors_highlight",
      "label": "t:sections.all.colors.colors_highlight.label",
      "default": "#bbff00"
    },
    {
      "type": "color_background",
      "id": "gradient_background",
      "label": "t:sections.all.colors.gradient_background.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.header.content"
    },
    {
      "type": "range",
      "id": "padding_top",      
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "t:sections.all.padding.padding_top.unit",
      "label": "t:sections.all.padding.padding_top.label",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "t:sections.all.padding.padding_bottom.unit",
      "label": "t:sections.all.padding.padding_bottom.label",
      "default": 36
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "t:sections.all.padding.padding_top.unit",
      "label": "Polsterung oben (Mobile)",
      "default": 36
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "t:sections.all.padding.padding_bottom.unit",
      "label": "Polsterung unten (Mobile)",
      "default": 36
    },
    {
      "type": "range",
      "label": "Polsterung links",
      "id": "padding_left",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "label": "Polsterung rechts",
      "id": "padding_right",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "label": "Abstand oben",
      "id": "margin_top",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "label": "Abstand unten",
      "id": "margin_bottom",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.rich-text.blocks.heading.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Erzählen Sie von Ihrer Marke",
          "label": "t:sections.all.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h3",
              "label": "Sehr klein"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "options": [
            {
              "value": "h1",
              "label": "t:sections.all.heading_tag.options__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_tag.options__2.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.heading_tag.options__3.label"
            },
            {
              "value": "h4",
              "label": "t:sections.all.heading_tag.options__4.label"
            },
            {
              "value": "h5",
              "label": "t:sections.all.heading_tag.options__5.label"
            },
            {
              "value": "h6",
              "label": "t:sections.all.heading_tag.options__6.label"
            },
            {
              "value": "div",
              "label": "t:sections.all.heading_tag.options__7.label"
            },
            {
              "value": "span",
              "label": "t:sections.all.heading_tag.options__8.label"
            },
            {
              "value": "p",
              "label": "t:sections.all.heading_tag.options__9.label"
            }
          ],
          "default": "h2",
          "label": "t:sections.all.heading_tag.label",
          "info": "t:sections.all.heading_tag.info"
        }
      ]
    },
    {
      "type": "subheading",
      "name": "t:sections.rich-text.blocks.subheading.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "default": "Fügen Sie eine Tagline hinzu",
          "label": "t:sections.all.subheading.label"
        },
        {
          "type": "select",
          "id": "subheading_size",
          "options": [
            {
              "value": "h5",
              "label": "t:sections.all.subheading_size.options__1.label"
            },
            {
              "value": "h4",
              "label": "t:sections.all.subheading_size.options__2.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.subheading_size.options__3.label"
            }
          ],
          "default": "h5",
          "label": "t:sections.all.subheading_size.label"
        },
        {
          "type": "checkbox",
          "id": "secondary_color",
          "default": false,
          "label": "t:sections.all.secondary_color.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.rich-text.blocks.text.name",
      "limit": 2,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Teilen Sie Informationen über Ihre Marke mit Ihren Kunden. Beschreiben Sie ein Produkt, machen Sie Ankündigungen oder begrüßen Sie Kunden in Ihrem Geschäft.</p>",
          "label": "t:sections.all.text.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "typeset",
              "label": "t:sections.all.text_size.options__1.label"
            },
            {
              "value": "typeset2",
              "label": "t:sections.all.text_size.options__2.label"
            },
            {
              "value": "typeset3",
              "label": "t:sections.all.text_size.options__3.label"
            }
          ],
          "default": "typeset2",
          "label": "t:sections.all.text_size.label"
        },
        {
          "type": "checkbox",
          "id": "secondary_color",
          "default": false,
          "label": "t:sections.all.secondary_color.label"
        },
        {
          "type": "header",
          "content": "t:sections.all.highlight.header.content"
        },
        {
          "type": "html",
          "id": "highlight_phrases",
          "label": "t:sections.all.highlight.phrases.label",
          "info": "t:sections.all.highlight.phrases.info"
        },
        {
          "type": "select",
          "id": "highlight_style",
          "options": [
            {
              "value": "marker",
              "label": "t:sections.all.highlight.style.options__1.label"
            },
            {
              "value": "circle",
              "label": "t:sections.all.highlight.style.options__2.label"
            },
            {
              "value": "underline",
              "label": "t:sections.all.highlight.style.options__3.label"
            }
          ],
          "default": "marker",
          "label": "t:sections.all.highlight.style.label"
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.custom-liquid.name",
      "limit": 2,
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.custom-liquid.settings.custom_liquid.label",
          "info": "t:sections.custom-liquid.settings.custom_liquid.info"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.rich-text.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Schaltflächenbeschriftung",
          "label": "t:sections.all.button_label.label",
          "info": "t:sections.all.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.all.button_link.label"
        },
        {
          "type": "select",
          "id": "button_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.all.button_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.all.button_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.all.button_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.all.button_size.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "t:sections.all.button_style_secondary.label"
        }
      ]
    },
    {
      "type": "download_button_block",
      "name": "Schaltfläche für Datei herunterladen",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label2",
          "default": "Schaltflächenbeschriftung",
          "label": "Beschriftung"
        },
        {
          "type": "image_picker",
          "id": "download_image",
          "label": "Bild",
          "info": "Wenn Sie ein Bild auswählen, sollte der Dateipfad leer sein"
        },
        {
          "type": "text",
          "id": "button_link2",
          "label": "Dateipfad"
        },
        {
          "type": "select",
          "id": "button_size2",
          "options": [
            {
              "value": "small",
              "label": "t:sections.all.button_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.all.button_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.all.button_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.all.button_size.label"
        },
        {
          "type": "select",
          "id": "button_style2",
          "options": [
            {
              "value": "primary",
              "label": "Primär"
            },
            {
              "value": "secondary",
              "label": "Sekundär"
            }
          ],
          "default": "primary",
          "label": "Schaltflächenstil"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.rich-text.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  }
}
{% endschema %}
